/* Global font and background */
* {
  font-family: "Oswald", serif;
  color: white;
}

body {
  background-color: #141619;
}

/* Style for email form */
.formEmail {
  justify-items: center;
  padding: 5px;
  background-color: black;
}

/* Car post styles */
.car {
  box-sizing: border-box;
  background-color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 20px auto;
  max-width: 500px;
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
  flex: 1 1 calc(33.33% - 20px); /* Default 3 items per row */
}

/* Car container to allow wrapping */
.car-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

/* Hover effect for car posts */
.car:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  opacity: 0.75;
}
/* Search container style */
.container-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.container-search .d-flex {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.oswald-font {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

hr {
  color: white;
}

/* About Us section styles */
.aboutUs-intro {
  text-align: center;
  background-color: #212529;
  padding: 0 10%;
}

.aboutUs-mission {
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: #212529;
}

.aboutUs-mission li {
  text-align: justify;
  list-style-position: inside;
  margin-bottom: 10px;
  padding: 0 10%;
}

/* CSS for Small Screens (below 400px) */
@media screen and (max-width: 400px) {
  .car {
    padding: 10px; /* Adjust padding for smaller screens */
    max-width: 100%; /* Make the car posts take full width */
    margin: 10px 0; /* Adjust margin to avoid overflow */
  }

  .car-container {
    gap: 10px; /* Reduce gap between car posts */
    margin: 10px; /* Reduce margin for smaller screens */
  }
  .advSearchBar{
    flex: 1 1 calc(25% - 20px);
    display: flex;
    flex-wrap: wrap;
  }
}
