{% extends "layout.html" %}
{% block content %}
<br>
<div class="aboutUs-intro">
    <hr>
    <h3>We Are YourCoche.es</h3>
    <hr>
    YourCoche.es is the leading online platform for buying and selling vehicles in Mallorca.<br>  
    Whether you're looking to buy your next car or sell your current one, we offer a simple and reliable solution.<br><br>  
    
    Our goal is to revolutionize the local automotive market by providing a seamless, transparent, and efficient experience for both buyers and sellers.<br>  
    With a wide range of listings and user-friendly search features, finding the right vehicle has never been easier.<br>  
    
    Join YourCoche.es today and experience a better way to buy and sell cars in Mallorca!<br>    
    <hr>
</div>
<br>
<div class="aboutUs-mission">
    <hr>
    <h3>Our Mission</h3>
    <hr>
    <li>
        Deliver an innovative and personalized service using cutting-edge technology.
    </li>
    <li>
        Offer expert customer care to ensure satisfaction.
    </li>
    <li>
        Simplify the process of selling personal vehicles and dealership inventories.
    </li>  
    <li>
        Make buying and selling vehicles easier and more efficient for everyone.
    </li> 
    <hr>
</div>

{% endblock %}