{% extends "layout.html" %}
{% block content %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}?v=1">
{% endblock %}
<!--Simple car search bar for computer use only-->
{% if not is_mobile %}
    <div style="position: relative;">
        <img src="{% static '../static/images_logos/people-spending-time-nature-long-shot.jpg' %}" 
            width="100%" 
            height="auto">
        <br>
        <div class="container-search" 
            style="
                position: absolute; 
                top: 50%; 
                left: 50%; 
                transform: translate(-50%, -50%); 
                text-align: center; 
                background-color: rgba(0, 0, 0, 0.6); 
                padding: 20px; 
                border-radius: 10px;
            ">
            <h3 class="text-center text-white mb-4">Search Cars</h3>

            <form method="get" action="{% url 'search' %}">        
                <!-- Search Input -->
                <div class="input-group w-100 mx-auto">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Search by make or model"
                        name="query"
                        value="{{ request.GET.query }}"
                    >
                    <button class="btn btn-danger" type="submit">Search</button>
                </div>
                <br>
            </form>
        </div>
    </div>
{% endif %}    
<!-- Car post structure and style-->
<h1 style="text-align: center; color: white; padding: 20px; background-color: black;">Available Cars</h1>
<div class="car-container">
    {% for car in cars %}
    <div class="car">
        <h2 style="text-align: center">{{ car.make }} {{ car.model }}</h2>

        {% if car.state == "Available" %}
        <h2 style="color: green;">{{ car.state }}</h2>
    {% else %}
        <h2 style="color: red;">{{ car.state }}</h2>
    {% endif %}        

    <hr>

        <div class="container-search">
        </div>
            {% if car.images.all %}
            <!-- Images with url to the post page -->
                <a href="{% url 'post' id=car.id %}">
                    <img src="{{ car.images.first.image.url }}" alt="{{ car.make }} {{ car.model }}" style="max-width: 350px; border-radius: 10px; padding: 5px;">
                </a>
            {% else %}
                <a href="{% url 'post' id=car.id %}">No image available.</a>
            {% endif %}
        <h3>${{ car.price }}</h3>
        <hr>
        <!-- Data from the car-->
        <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Year</th>
                <th scope="col">Km</th>
                <th scope="col">Motor</th>
                <th scope="col">Transmission</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td>{{ car.year }}</td>
                <td>{{ car.km }}</td>
                <td>{{ car.motor }}</td>
                <td>{{ car.transmission }}</td>
              </tr>        
            </tbody>
        </table>

    </div>
    {% empty %}
    <p>No cars available.</p>
    {% endfor %}
</div>

{% endblock %}