{% extends "layout.html" %}
{% block content %}
<!-- search bar for advanced search-->
<div class="container-search">
<hr>
<h1 class="text-center text-white">Search For Your Future Car</h1>
<hr>
<form method="get" action="{% url 'search' %}">
<!-- Dropdowns - Side by side -->
<div class="advSearchBar d-flex justify-content-center mb-1">
    <div class="dropdown">
        <button class="btn btn-danger dropdown-toggle" type="button" id="makeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Select Make
        </button>
        <ul class="dropdown-menu" aria-labelledby="makeDropdown">
            {% for make in car_makes %}
                <button value="{{ make.make}}" name="query" type="submit" class="text-dark btn btn-light">{{ make.make }}</button>
                <br>
            {% endfor %}
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-danger dropdown-toggle" type="button" id="modelDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Select Model
        </button>
        <ul class="dropdown-menu" aria-labelledby="modelDropdown">
        {% if cars != None %}
            {% for car in cars %}
                <button value="{{ car.model}}" name="query" type="submit" class="text-dark btn btn-light"> {{ car.model }} </button>
            {% endfor %}
        {% else %}
            <option class="text-dark"> Search a make first</option>
        {% endif %}
        </ul>
    </div>
    <input placeholder="Min Price" type="number" name="priceMin" class="form-control mb-1" style="max-width:33%">
    <input placeholder="Max Price" type"number" name="priceMax" class="form-control mb-1" style="max-width:33%">
</div>

<!-- Search Input (below the dropdowns) -->
<div class="input-group w-100 mx-auto">
    <input
        type="text"
        class="form-control"
        placeholder="Search by make or model"
        name="queryText"
    >
    <button class="btn btn-danger" type="submit">Search</button>
</div>
<hr>
</form>
<!-- selected search car posts-->
<div class="car-container">
{% for car in cars %}
<div class="car">
    <h2 style="text-align: center">{{ car.make }} {{ car.model }}</h2>

    {% if car.state == "Available" %}
    <h2 style="color: green;">{{ car.state }}</h2>
{% else %}
    <h2 style="color: red;">{{ car.state }}</h2>
{% endif %}        

<hr>

<div class="container-search">
</div>
    {% if car.images.all %}
    <!-- Images with url to the post page -->
        <a href="{% url 'post' id=car.id %}">
            <img src="{{ car.images.first.image.url }}" alt="{{ car.make }} {{ car.model }}" style="max-width: 350px; border-radius: 10px; padding: 5px;">
        </a>
    {% else %}
        <a href="{% url 'post' id=car.id %}">No image available.</a>
    {% endif %}
<h3>${{ car.price }}</h3>
<hr>
<!-- Data from the car -->
<table class="table">
    <thead>
        <tr>
        <th scope="col"></th>
        <th scope="col">Year</th>
        <th scope="col">Km</th>
        <th scope="col">Motor</th>
        <th scope="col">Transmission</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row"></th>
        <td>{{ car.year }}</td>
        <td>{{ car.km }}</td>
        <td>{{ car.motor }}</td>
        <td>{{ car.transmission }}</td>
        </tr>        
    </tbody>
</table>
</div>
{% empty %}
<p>Search for your dream car.</p>
{% endfor %}
</div>
{% endblock %}
