body {
    background-color: #293e4d;
    font-family: impact;
    font-weight: lighter;
}
h2 {
    color: white;
    text-align: center;
}
.formEmail{
    justify-items: center;
    padding: 5px;
    background-color: lightslategray;
}
